* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #792099;
}

.form-control {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="password"] {
    letter-spacing: 0.3em;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #792099;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #6a1b8a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.hero {
    background-image: url('Muschel-Spaghetti\ in\ Tomatensugo.jpg');
    background-size: fit;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: white;
}

.hero a {
    color: #01c642;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 150px;
}

.hero button {
    background-color: #01c642;
    color: white;
    border: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

.hero button:hover {
    background-color: #2c7001;
}

.footer {
    background-color:#01c642;
    padding: 20px;
    text-align: center;
    color: #333;
}

.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}